<div class="card-wrapper">

<lib-hero-card
  [cardTitle]="mockCardData.cardTitle"
  [cardImageAlt]="mockCardData.cardImageAlt"
  [cardImage]="mockCardData.cardImage"
  [cardDescription]="mockCardData.cardDescription"
  cardDataId="123"
  [buttonFunction]="buttonFunction"

></lib-hero-card>

<lib-hero-card
  [cardTitle]="mockCardData.cardTitle"
  [cardImageAlt]="mockCardData.cardImageAlt"
  [cardImage]="mockCardData.cardImage"
  [cardDescription]="mockCardData.cardDescription + mockCardData.cardDescription"
  cardDataId="86"
  [buttonFunction]="buttonFunction"
></lib-hero-card>


<lib-hero-card
  [cardTitle]="mockCardData.cardTitle"
  [cardImageAlt]="mockCardData.cardImageAlt"
  [cardImage]="mockCardData.cardImage"
  cardDataId="412"
  [buttonFunction]="buttonFunction"
></lib-hero-card>

</div>
